.head{
    padding: 30px;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #BF683F;
}
.info{
    padding: 24px;
    border-style: solid;
    border-width: 6px;
    border-color: #BF683F;
}
.body{
    
    padding: 40px;
    margin-left: 40px;
    border-style: solid;
    border-width: 6px;
    border-color: #BF683F;
}


